  body {
    margin: 0;
    padding: 0;
  }
  
  /*Navbar*/
  .navbar {
    display: block;
    background-image: url(/assets/Black-Brick-Wallpapers.jpg);
    color: white;
    height: 100%;
  }
  
  .municipality-title {
    font-size: 3rem;
    font-family: impact;
    text-align: center;
  }
  
  .navbar-links {
    width: 100%;
  }
  
  .navbar-links ul {
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    list-style: none;
    border-style: solid;
    border-color: aliceblue;
    border-radius: 25px;
    margin-top: 10px;
  }
  
  .navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
    font-size: 2.5rem;
  }
  
  .navbar-links li:hover {
    background-color: #555;
  }
  
  .navbar-links ul {
    width: 100%;
    flex-direction: row;
  }
  
  .navbar-links ul li {
    text-align: center;
  }
  
  
  .navbar-links.page {
    display: flex;
  }
  
  
  #slogan {
    font-family: 'Brush Script MT';
    font-size: 40px;
    color: aqua;
    text-align: center;
  }

  /*Index page*/
  
  p {
    margin: 4px;
    font-size: 30px;
    color: aliceblue;
  } 
  
  a {
    text-decoration: underline;
    list-style: none;
    font-size: 2em;
    color: grey;
  } 
  
  .search {
    width: 100%;
    height: 80px;
    border-width: 1px;
    border-color: black;
    font-size: 2em;
    text-align: center;
    
  }

  .searchButton{
    height: 70px;
    font-size: 30px;
    display: block;
    width: 100%;
    color: aliceblue;
    background-image: url(/assets/Black-Brick-Wallpapers.jpg);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-width: 3px;
    border-color: aliceblue;
  }

  
  #vrapcistePP {
    border-radius: 50px;
    margin-top: 3em;
    width: 100%;
    height: 100%;
  }
  
  .paragraph {
    background-color: black;
    padding: 4%;
    border-style: double;
    border-radius: 25px;
    border-color: rgb(128, 128, 255);
    font-size: 250%;
    color: aliceblue;
  }
  
  /* Footer */
  .footer {
    width: 100%;
    background-color: #441f1f;
    color: white;
    text-align: center;
    font-size: 1em;
    margin-top: 12em;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  
  .socialMediaicons {
    font-size: 45px;
    padding-top: 2em;
    margin-bottom: 2em;
  }
  
  .socialMediaicons>#instagram,
  #facebook {
    margin-right: 50px;
  }
  
  .socialMediaicons>#instagram:hover {
    color: orangered;
  }
  
  .socialMediaicons>#facebook:hover {
    color: blue;
  }
  
  .socialMediaicons>#twitter:hover {
    color: lightblue;
  }
  
  #footerLinks {
    background-image: url(/assets/Black-Brick-Wallpapers.jpg);
    display: block;
    border-radius: 25px;
  }
  
  .list_footer {
    font-size: large;
    text-align: center;
  }
  
  .footer li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .footer li:hover{
    background-color: #555;
  }
  

  #footerLinks li {
    list-style: none;
    padding: 25px;
    border-style: solid;
    border-color: aliceblue;
    border-radius: 25px;
    list-style-position: inside;
    margin-left: -40px;
    margin-top: 10px;
  }
  
  
  .copyright{
    display: inline-block;
  }

/* News feed*/

.newsFeed > img{
  width: 100%;
  height: 100%;
  margin-left: 0px;
}

#newsSection{
  margin-top: 10%;
  position: relative;
  background-image: url(/assets/Black-Brick-Wallpapers.jpg);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.newsFeed {
  display: none;
  text-align: center;
}

.before, .after {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: rgb(113, 238, 255);
  font-weight: bold;
  font-size: 80px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(255, 255, 255, 0.164);;
}

.after {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.before:hover, .after:hover {
  background-color: rgba(0, 173, 196);
  color: #441F1F;
}

.showSlidePage {
    text-align: center;
    padding: 20px;
    background: rgb(0, 173, 196);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.slidePage {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(219, 221, 219);
  border-radius: 25px;
  display: inline-block;
  transition: background-color 0.3s linear;
}

.page, .slidePage:hover {
  background-color: #441F1F;
}

.newsHeader {
  color: rgb(113, 238, 255);
  text-decoration: underline;
  font-size: 1em;
}

/*Mayor section*/

.emplyeePhotos{
  width: 300px;
}

.card {
  margin-top: 5%;
  margin-left: 10%;
  margin-bottom: 2%;
  width: 80%;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-style: double;
  border-color: black;
  box-shadow: 5px 10px;
}

.container {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.CardName{
 color: rgb(2, 1, 1);
 font-size: 5em;
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form{
  text-align: center;
  line-height: 100px;
}

.formInside{
    font-size: 100%;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    height: 2em;
    border-radius: 25px;
    text-align: center;
    display: inline-block;
  }

  .form>p{
    font-size: 40px;
    text-align: center;
    color: black;
  }

  /*contacts*/
  .contactus>h1 {
  color: black;
  font-size: 70px;
  text-align: center;
  line-height:80px;
  font-weight: bold;
  padding-top: 20px;
}

.south_branch{
  font-size: 25px;
  line-height: 65px;
}

.contactus ul p {
  color: rgb(0, 0, 0);
  font-size: 45px;
  font-weight: bold;
}

.north_branch{
  font-size: 25px;
  line-height: 60px;
}

.map_of_branches p {
  color: black;
  text-align: center;
  font-weight: bold;

}

#map_branches{
  border-style: double;
  border-color: rgb(0, 0, 0);
  width: 100%;
}

/*newsDetail*/
.detailNewsHeader{
  text-align: center;
  margin-top: 5%;
  text-decoration: underline;
}


.cardDescription{
  color: rgb(0, 0, 0);
}

figure{
  margin-top: 6%;
  border-style: dashed;
  border-width: 5px;
  text-align: center;
}

figcaption{
  font-weight: bolder;

}

.CardDescriptionName{
  color: rgb(50, 15, 148);
  font-size: 30px;
}

.newsSpan{
  color: white; 
  font-size: 40px;
}

/*Search container*/

.searchContainer{
  margin-left: 5%;
  margin-top: 3%;
}

.searchContainer > a{
  color: rgb(50, 15, 148);;
  font-size: 40px;
}

.searchContainer > p{
  color: rgb(0, 0, 0);
  margin-left: 25px;
  font-size: 30px;
}

/*About*/

.AboutArticle{
  background-color: #441F1F;
  margin-top: 10%;
}

.AboutArticle > h2{
  text-decoration: underline;
  color: rgb(128, 128, 255);
}

.articleHeading{
  color: rgb(128, 128, 255);
}


.AboutParagraph{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 4%;
}

.AboutParagraph > p {
  background-color: black;
  padding: 4%;
  border-style: double;
  border-radius: 25px;
  border-color: rgb(128, 128, 255);
  font-size: 250%;
  color: aliceblue;
}

.aboutGallery{
  background-image: url(/assets/Black-Brick-Wallpapers.jpg);
  margin-top: 4%;
}


@media only screen and (min-width: 768px) and (max-width: 1024px){

  .navbar{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 19em;
  }
  .navbar-links {
    width: 50%;
  }
  .municipality-title {
    font-size: 4rem;
  }
  #slogan {
    position: absolute;
    margin-top: 3em;
    font-size: 4rem;
  }
  .searchForm{
    display: flex;
    position: absolute;
    margin-top: 19em;
  }
  .searchButton{
    height: 80px;
    width: 50px;
    border-radius:0%;
    font-size: 1.5em;
    display: inline-block;
  }
  .search {
    width: 700px;
    height: 75px;
    border-width: 1px;
    border-color: black;
    font-size: 2em;
    text-align: center;
  }
  #vrapcistePP {
    margin-top: 7em;
  }
  #footerLinks{
    display: flex;
    justify-content: space-between;
  }
  #footerLinks > ul{
    width: 50%;
  }
  .form>p{
    font-size: 50px;
    text-align: center;
    color: black;
  }
  figure > img{
    width: 50%;
  }
  .paragraph{
    font-size: 30px;
  }
}
